.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

.idea
*.iws
*.iml
*.ipr

**/out/**
**/node_modules/
**/target/
**/build

webpack.config.js
webpack.generated.js
**/frontend/generated/
tsconfig.json
types.d.ts
vite.generated.ts
